*{
    margin :0cm;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    background-color:beige;
}
body{
    display: flex;
    justify-content: center;
    justify-items: center;
    min-height: 100vh;
    background-image: url(https://images.pexels.com/photos/2531709/pexels-photo-2531709.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
form{
    background-color:none;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
h{
    font: bold;
    color:blueviolet;
    font-size: 30px;
    text-align: center;
}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"],
select{
    width: 100%;
    padding: 10px;
    margin-bottom: 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background: transparent;
}
input[type="radio"] {
    margin-right: 10px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 12px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
@media (max-width: 500px) {
    form {
        width: 50%;
    }
}